.example-radio-button {
    margin: 2px;
}
.example-selected-value {
    margin: 0px 0;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: row;
}

.example-full-width {
    width: 100%;
}